body{
	background-image: url(../image/bg.jpg) ;
	opacity: 0.6;
	background-repeat: no-repeat;
}
#main{
	padding-top: 50px;
}
#leftmenu{
	min-height: 600px;
	background-color: #FFFFFF;
	box-shadow: 0 0 15px 0 silver;
}
#rightmain{
	min-height: 600px;
	background-color: #FFFFFF;
	box-shadow: 0 0 15px 0 silver;
}
#dt_id{
	position: relative;
	top: 20px;
}
